docker {
    enabled = true
    runOptions = '--rm'
}
process {
    withLabel: constructDataset {
        container = "r1docker"
    }
    withLabel: boxcox {
        container = "r3docker"
    }
    withLabel: standart1 {
        container = "r2docker"
    }
     withLabel: standart2 {
        container = "r2docker"
    }
    withLabel: intersection {
        container = "r2docker"
    }
    withLabel: imputation {
        container = "r4docker"
    }
    withLabel: select_control {
        container = "r2docker"
    }
    withLabel: logistic_mark {
        container = "r5docker"
        cpus = 15
    }
    withLabel: logistic_age {
        container = "r5docker"
        cpus = 15
    }
    withLabel: logistic_mark_par {
        container = "r5docker"
        cpus = 15
    }
    withLabel: r_to_python {
        container = "r2docker"
    }
    withLabel: lr_auc {
        container = "p1docker"
    }
    withLabel: pars_1 {
        container = "r6docker"
    }
    withLabel: rf_res {
        container = "p1docker"
        cpus=15
    }
    withLabel: rf_res2 {
        container = "p1docker"
        cpus=15
    }
    withLabel: lr_n_auc {
        container = "p1docker"
        cpus=15
    }
    withLabel: rf_n_auc {
        container = "p1docker"
        cpus=15
    }
}